{% extends "base.html" %}
{% load static %}

<body>
    {% block content %}
        <h1>Завдання:{{task.name}}</h1>
        <br>
        <h2>{{task.description}}</h2>
        <br>
        <a href="{% url 'task_edit', task.id, task.name, task.descriprion, task.status, task.owner, task.priority, task.start_date, task.dead_line %}"></a>
        <form method="POST" action="{% url 'task_edit' %}">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Мета завдання</label>
                  <input type="text" class="form-control" id="task_name" name="task_name">
                </div>
            <button type="submit" class="btn btn-primary">Змінити</button></a>
    {% endblock %}
</body>